<ng-container *ngIf="!loading; else loadingTemplate">
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back_ios</mat-icon></button>
    <span>{{category | capitalize}}</span>
  </mat-toolbar>

  <div class="previewed-mods">
    <mat-card id="top-updated">
      <mat-card-header>
        <mat-card-title>{{previewMods.updated.title}}</mat-card-title>
        <mat-card-subtitle>{{previewMods.updated.description}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="previewMods.updated.gallery[0]" alt="Header image provided by {{previewMods.updated.title}}">
    </mat-card>
    <mat-card id="top-downloaded">
      <mat-card-header>
        <mat-card-title>{{previewMods.downloaded.title}}</mat-card-title>
        <mat-card-subtitle>{{previewMods.downloaded.description}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="previewMods.downloaded.gallery[0]" alt="Header image provided by {{previewMods.downloaded.title}}">
    </mat-card>
  </div>
  <mat-divider></mat-divider>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading>Loading {{category | capitalize}}...</app-loading>
</ng-template>
