<ng-container *ngIf="!loading; else loadingTemplate">
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>{{category | capitalize}}</span>
  </mat-toolbar>

  <div class="previewed-mods">
    <app-mod-showcase [mod]="previewMods.updated" [top]="true" description="Recently updated"></app-mod-showcase>
    <app-mod-showcase [mod]="previewMods.downloaded" [top]="true" description="Top Downloaded"></app-mod-showcase>
  </div>
  <mat-divider></mat-divider>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading>Loading {{category | capitalize}}...</app-loading>
</ng-template>
