@use '@angular/material' as mat;
@use "store/mod-showcase/mod-showcase";

@include mat.core();

@import "theme";

@include mat.all-component-themes($light-theme);
@include mod-showcase.theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
  @include mod-showcase.theme($light-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
